:root {
    --border: 0px;
}

*:not(option) {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #101215;
    scrollbar-width: thin;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}

.results div {
    width: calc(100% - 2 * 2px);

    aspect-ratio: 16/9;

    border: 2px solid #fff;
    border-radius: var(--border);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    padding: 0;

    transition: border-color ease-in-out .1s;
}

.results div:hover {
    cursor: pointer;
    border-color: #006388;
}

.ep-dur, .ep-idx {
    margin: 10px;
    padding: 5px;
    border-radius: var(--border);
    background-color: #000000AA;
    text-align: center;
}

.ep-idx {
    order: 1;
    align-self: flex-start;
}

.ep-dur {
    order: 3;
    align-self: flex-end;
}

.results div svg:not(.selected) {
    visibility: hidden;
}

.results div svg {
    order: 2;
    align-self: center;
}

.info {
    position: fixed;
    width: 70vw;
    height: 70vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: var(--border);
    background-color: #10121599;
    padding: 10px;
    text-align: center;
    
    opacity: 0;
    transition: opacity ease-in-out 1.7s;
}

.info ul {
    overflow-y: scroll;
    max-height: 80%;
}

.info li {
    margin: auto;
}

.hidden {
    display: none;
    visibility: hidden;
}

#close {
    all: unset;

    position: fixed;
    top: 0;
    right: 0;

    margin: 20px;
    margin-right: 25px;
    width: 20px;
    height: 20px;
}

h3 {
    letter-spacing: 2px;
}

#download {
    all: unset;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
}

#download img {
    width: 100px;
    margin: 20px;
    transition: all ease-in-out .2s;
}

#download img:hover {
    width: 120px;
    margin: 10px;
}

#confirm {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 250px;
    height: 40px;

    margin: 10px;

    background-color: #fff;

    border: none;
    border-radius: var(--border);

    color: #000;
}

#confirm:hover {
    background-color: #006388;
}

body {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search {
    margin: auto;
    padding: 20px;
    width: 70vw;
    flex-direction: column;
}

form {
    margin: auto;
    display: flex;
    flex-grow: 2;
    justify-content: stretch;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

#url {
    flex-grow: 3;
    margin-top: 0px;
    margin-right: 8px;
}

.back-btn {
    margin: 0;
    padding: 10px;
    font-size: smaller;
    text-decoration: none;
    margin-left: 8px;
}

.filters {
    margin-left: 8px !important;
}

#qual {
    text-align: center;
    min-width: 80px;
}

#qual option {
    color: #fff;
    background-color: #101215;
}

#qual option:hover {
    background-color: #006388;
}

#url,
input[type='submit'],
.back-btn,
.filters:not(div),
#qual {
    background-color: transparent;
    padding: 10px;

    border: 2px solid #fff;
    border-radius: var(--border);

    height: 100%;

    transition: border-color ease-in-out .2s;
    outline: none;
}

input[type='submit'],
.back-btn,
.filters:not(div),
#qual:hover {
    cursor: pointer;
}

#url:hover,
input[type='submit']:hover,
.back-btn:hover,
.filters:hover,
#qual:hover {
    border-color: #006388;
}

input[type='submit']:hover {
    background-color: #006388;
}

.settings {
    position: fixed;
    display: flex;

    right: 0;
    top: 50%;
    transform: translateY(-50%);

    flex-direction: column;
}

.settings button {
    color: #fff;
    background-color: transparent;

    border: none;
    border-right: 4px solid #006388;

    margin: 10px;
    padding: 10px;

    margin: 10px;
    padding: 10px;

    transition: background-color ease-in-out .3s;
}

.opened {
    background-color: #006388;
}

.settings button:hover {
    background-color: #006388;
}

#qual {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.quals {
    margin: 5px;

    background-color: transparent;
    border: none;
}

.toggled {
    background-color: #006388 !important;
}

.bg {
    position: absolute;
    background: linear-gradient(to bottom left, #1793c2 50%, #1b8bbe 50%);

    width: 0;
    height: 0;

    margin: 0;
    padding: 0;

    z-index: 5;

    top: 100vh;
    left: 100vw;
}

.band {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

.upper {
    bottom: unset !important;
    top: 0;
    rotate: 180deg;
}

.ep-info {
    border: none !important;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.ep-info.hovered {
    background-color: #000000AA;
}

.animate {
    animation: pop .5s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
}

.deanimate {
    animation: unpop .5s forwards cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}


@keyframes pop {
    0% {
        width: 0;
        height: 0;
        top: 100vh;
        left: 100vw;
    }

    100% {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
}

@keyframes unpop {
    100% {
        width: 0;
        height: 0;
        top: 100vh;
        left: 100vw;
    }

    0% {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
}